body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, form, input, th, td, select {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 14px/1.5 STHeiti;
  color: #333;
}

h1, h2, h3, h4, h5, h6, b, i {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

fieldset, input {
  border: none;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

.ovh {
  overflow: hidden;
}

.dib {
  display: inline-block;
}

.fn-hide {
  display: none;
}

.bgcf {
  background-color: #fff;
}

.sprite-block, .icons-logo, .icons-meiti, .icons-qudao, .icons-shezhi, .icons-shuaxin, .icons-tuichu, .icons-wenzhang, .icons-xiantu, .icons-xiazai, .icons-yonghu, .icons-zhutu {
  display: inline-block;
}

.sprite-block, .icons-logo, .icons-meiti, .icons-qudao, .icons-shezhi, .icons-shuaxin, .icons-tuichu, .icons-wenzhang, .icons-xiantu, .icons-xiazai, .icons-yonghu, .icons-zhutu {
  background-image: url('../images/icons-s07d4283293.png');
  background-repeat: no-repeat;
}

.icons-logo {
  background-position: 0 -65px;
  height: 54px;
  width: 54px;
}

.icons-meiti {
  background-position: 0 -30px;
  height: 19px;
  width: 16px;
}

.icons-qudao {
  background-position: -13px -15px;
  height: 15px;
  width: 15px;
}

.icons-shezhi {
  background-position: -17px -49px;
  height: 16px;
  width: 16px;
}

.icons-shuaxin {
  background-position: -15px 0;
  height: 15px;
  width: 15px;
}

.icons-tuichu {
  background-position: 0 -15px;
  height: 14px;
  width: 13px;
}

.icons-wenzhang {
  background-position: -28px -15px;
  height: 15px;
  width: 13px;
}

.icons-xiantu {
  background-position: 0 -49px;
  height: 14px;
  width: 17px;
}

.icons-xiazai {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}

.icons-yonghu {
  background-position: -33px -49px;
  height: 16px;
  width: 14px;
}

.icons-zhutu {
  background-position: -30px 0;
  height: 15px;
  width: 15px;
}

body {
  background-color: #F1F4F7;
  color: #3a435f;
}

.header {
  overflow: hidden;
  line-height: 102px;
  background-color: #fff;
}
.header .quit {
  float: right;
  border: 1px #DFE2E5 solid;
  border-radius: 4px;
  display: inline-block;
  width: 84px;
  text-align: center;
  line-height: 32px;
  margin: 32px 20px 0 0;
}
.header img {
  vertical-align: middle;
}

.icons-logo {
  vertical-align: middle;
  margin: 8px 15px 0 25px;
}

.icons-tuichu {
  vertical-align: -2px;
  margin-right: 5px;
}

.main {
  position: relative;
}

.sidebar {
  width: 230px;
  background: #fff url(../images/bg-nav.png) 0 0 no-repeat;
  z-index: 200;
  font-size: 14px;
  float: left;
}
.sidebar ul {
  padding: 25px 0 100px 0;
}
.sidebar li {
  color: #3a435f;
  position: relative;
}
.sidebar i {
  margin: 0 15px 0 30px;
  vertical-align: -2px;
}
.sidebar p {
  line-height: 44px;
  cursor: pointer;
}
.sidebar p.active {
  color: #6d45e6;
}
.sidebar a {
  font-size: 14px;
  color: #959aa9;
  display: block;
  text-indent: 57px;
  line-height: 35px;
  position: relative;
}
.sidebar a:before {
  background-color: #9D6CFF;
  border-radius: 2px;
  display: inline-block;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar a:hover, .sidebar a.active {
  color: #3a435f;
  background-color: #F1F4F7;
}
.sidebar a:hover:before, .sidebar a.active:before {
  content: "";
}

.content {
  margin-left: 230px;
  background: url(../images/bg-content.png) top 0 no-repeat;
  padding: 0 30px;
}

.crumb {
  padding: 25px 0 15px 0;
  overflow: hidden;
}
.crumb a {
  float: left;
  font-size: 14px;
}
.crumb a:after {
  content: ">";
  margin: 0 8px;
}
.crumb a.last:after {
  display: none;
}

.menu {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: 30px 17px 30px 103px;
  border-radius: 4px;
}
.menu p {
  background: url(../images/bg-text.jpg) center center no-repeat;
  height: 34px;
  width: 103px;
  float: left;
  text-indent: -9999px;
  position: absolute;
  left: 0;
  top: 30px;
}
.menu ul {
  display: table;
  width: 100%;
  background: url(../images/bg-nav-border.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.menu li {
  display: table-cell;
  text-align: center;
  line-height: 34px;
  border-right: 1px solid #E0E3E6;
  cursor: pointer;
  color: #3a435f;
}
.menu li.active, .menu li:hover {
  background: url(../images/bg-nav-line.png) 0 0 repeat-y;
  background-size: 100% 100%;
  color: #fff;
}
.menu .radius1 {
  border-radius: 4px 0 0 4px;
}
.menu .radius2 {
  border-radius: 0 4px   4px 0;
}

.chart-radius {
  overflow: hidden;
  margin: 20px 0;
}
.chart-radius li {
  width: 49%;
  background-color: #fff;
  border-radius: 4px;
  padding: 1px 0 30px 0;
}
.chart-radius h3 {
  line-height: 52px;
  font-size: 15px;
  color: #3a435f;
  background-color: #F8F9FB;
  text-indent: 15px;
}
.chart-radius img {
  margin-top: 20px;
  width: 100%;
  max-width: 426px;
}

.chart-line {
  border-radius: 4px;
  background-color: #fff;
  padding-top: 1px;
}
.chart-line .top {
  background-color: #F8F9FB;
  line-height: 24px;
  padding: 15px 0;
  overflow: hidden;
}
.chart-line .top p {
  width: 88px;
  text-align: center;
  font-size: 15px;
  color: #3a435f;
  float: left;
}
.chart-line .top li {
  color: #959aa9;
  cursor: pointer;
}
.chart-line .top .time {
  text-align: center;
  width: 56px;
  line-height: 24px;
  float: left;
}
.chart-line .top .time.active, .chart-line .top .time:hover {
  color: #fff;
  border-radius: 99px;
  background: url(../images/bg-button.png) 0 0 repeat-y;
}
.chart-line .top .fn-choice {
  float: left;
  margin-right: 18px;
}
.chart-line .top i {
  margin-right: 8px;
  vertical-align: -2px;
}
.chart-line .chart-box {
  padding: 30px 15px 30px 25px;
  text-align: center;
}
.chart-line .chart2 {
  width: 100%;
  max-width: 878px;
}

/*# sourceMappingURL=style.css.map */
